{{>layout/header}}
<div>
	<h1>처음 페이지</h1>
	<h4>마스터치 콧수염모양을 쓰면 컨트롤러에서 뷰에 값을 내릴 수 있다.</h4>
	<h2>{{userName}}</h2>
{{#aaa}}
	<h3>aaa 있다 {{aaa}}</h3>
{{/aaa}}
{{^aaa}}
	<h3>aaa 업다</h3>
{{/aaa}}
<h3>{{product}}</h3>
</div>
{{>layout/footer}}